# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# VSCode settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log

.vscode/

# Node / Frontend
node_modules/
dist/
.vite/